---
const {name, description, image, link, link_label} = Astro.props?.data
---

<div class="timeline-item">
	<div class="grid sm:grid-cols-2">
		<div>
			<div
				class="date-label-left duration flex justify-center md:me-7 relative"
			>
				<img src={image} class="h-64 w-64 object-cover" alt="" />
			</div>
		</div>
		<div class="mt-4 md:mt-0">
			<div
				class="event ltr:float-left rtl:float-right ltr:text-left rtl:text-right md:ms-7"
			>
				<h5 class="text-lg dark:text-white mb-1 font-medium">
					{name}
				</h5>

				<p
					class="timeline-subtitle mt-3 mb-0 text-slate-600 dark:text-slate-400"
				>
					{description}
					<br />
					<a href={link} target="_blank">
						<u class="text-orange-500 font-semibold">
							{link_label}
						</u>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
