---
import Card from "./Card.astro"
import {productList} from "../scripts/product-data"
---

<section
	class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800"
	id="products"
>
	<h6 class="text-orange-500 text-center text-base font-medium uppercase mb-2">
		PRODUCTS AND SERVICES
	</h6>
	<div class="container mx-auto">
		<div class="grid lg:grid-cols-2 px-5 gap-3">
			<!-- <Card title="Pharmacy POS" body="body" href="dfdf" /> -->
			{
				productList.map((prod) => (
					<Card
						title={prod.title}
						body={prod.body}
						href={prod.href}
						imageLink={prod.imageLink}
					/>
				))
			}
			<!-- <Card title="hehe" body="body" href="dfdf" /> -->
		</div>
	</div>
</section>
